@import 'primeicons/primeicons.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#theme {
  --p-primary-50: #f2faf2;
  --p-primary-100: #e6f6e6;
  --p-primary-200: #c0e9c0;
  --p-primary-300: #95da95;
  --p-primary-400: #69cd69;
  --p-primary-500: #3dc03d;
  --p-primary-600: #37ac37;
  --p-primary-700: #308b30;
  --p-primary-800: #2a6a2a;
  --p-primary-900: #235123;
  --p-primary-950: #1c411c;

  --p-surface-0: #ffffff;
  --p-surface-50: #f8f9fa;
  --p-surface-100: #f1f3f5;
  --p-surface-200: #e9ecef;
  --p-surface-300: #dee2e6;
  --p-surface-400: #ced4da;
  --p-surface-500: #adb5bd;
  --p-surface-600: #868e96;
  --p-surface-700: #495057;
  --p-surface-800: #343a40;
  --p-surface-900: #212529;
  --p-surface-950: #121417;
  --p-content-border-radius: 6px;
}

#theme {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

#theme.dark {
  --p-primary-color: var(--p-primary-100);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 84%
  );
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(
    in srgb,
    var(--p-primary-400),
    transparent 76%
  );
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}
